<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  {{!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> --}}
  <title>Game Horizon</title>

  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css" />

  <script src="https://kit.fontawesome.com/0b7142b373.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div id="loading">
    <img id="loading-image" src="images/loaders/spinner.gif" alt="Loading..." />
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

  {{> header}}


  {{!-- JQUERY --}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>


  {{{body}}}






  {{> footer}}
  <script src="javascripts/messages.js"></script>
  <script src="javascripts/client.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
  <script src="javascripts/header/header.js"></script>

  <script src="javascripts/loader.js"></script>

<script>
  $(function() {
    var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
    var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
    $("html").css({"height":h});
    $("body").css({"height":h});
});
</script>

 
</body>



</html>