<div class="login-main-container">

    <div class="login-sub-container">
        <div class="login-header">
            <h1>Login</h1>
        </div>

        {{# if hasErrors}}
        <div class="error-messages">
            {{# each messages}}
            <p>{{this}}</p>
            {{/each}}
        </div>
        {{/if}}


        <div class="login-form-container">
           
            <form action="/user/login" method="post" class="login-form">
                <div class="form-group">
                  
                    <input type="text" name="email" id="email" required>
                      <label for="email">Email</label>
                    <span></span>
                </div>
                <div class="form-group">
                  
                    <input type="password" name="password" id="password" required>
                     <label for="password">Password</label>
                    <span></span>
                </div>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <button type="submit" class="login-button">Login</button>
            </form>
        </div>
        {{!-- <form action="/user/login" method="post" class="login-form">
                {{!-- <div class="form-group"> --}}
                    {{!-- <label for="email">Email</label> --}}
                    {{!-- <input type="text" name="email" id="email">
                    <span data-placeholder="Email"></span> --}}
                {{!-- </div> --}}
                {{!-- <div class="form-group"> --}}
                    {{!-- <label for="password">Password</label> --}}
                    {{!-- <input type="password" name="password" id="password">
                    <span data-placeholder="Password"></span> --}}
                {{!-- </div> --}}
                {{!-- <input type="hidden" name="_csrf" value="{{ csrfToken }}"> --}}
                {{!-- <button type="submit" class="login-button">Login</button> --}}
            {{!-- </form> --}} 
        <div class="signup-link">
            <p>Don't have an account? <a href="/user/signup">Sign Up</a> instead.</p>
        </div>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="javascripts/form/form.js"></script>