<section id="shopping-completed">

<div class="completed-container">
    <div class="header-container">  <h1>Shopping completed successfully </h1></div>
       <div class="redirect-container">

         
           <a href="/user/profile" class="redirect-profile"><span class="icon-left"><i class="fas fa-chevron-left"></i></span><span class="profile-text">My Profile</span></a>
           <a href="/shop" class="redirect-shop"> <span class="shop-text">Continue Shopping</span><span class="icon-right"><i class="fas fa-chevron-right"></i></span></a>
    </div>
</div>
 
  

</section>